<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="conn" value="Server=localhost\SQLEXPRESS;Database=mydb;User Id=misa;Password=newegg1234;MultipleActiveResultSets=true;"/>
    <add key="com1" value="select top 1 ID,DataVariables from dbo._GusReport_mail with(nolock) where DeliveryTime is null"/>
    <add key="com2" value="update top (1)  a set DeliveryTime = @DeliveryTime from dbo._GusReport_mail a where ID = @ID"/>
  </appSettings>
</configuration>